# IP2
## Noah Clark
### v 1.0
#### DS-160-02

### Attached to this assignment in Moodle is a file called weather_2012.csv. Download this file and put it in the same directory as your notebook. Read the file into a dataset named “df”.

In [29]:
import pandas as pd
import numpy as np

In [30]:
df=pd.read_csv('weather_2012.csv', dtype='unicode')

In [31]:
df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

### Write the code to display the first five rows of the dataset, the last five rows of the dataset and a sample of five random rows from the dataset.

In [32]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [33]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [34]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8401,2012-12-16 01:00:00,-10.1,-14.8,68,24,25.0,102.27,Cloudy
1772,2012-03-14 20:00:00,0.2,-0.5,95,15,12.9,102.13,Cloudy
4334,2012-06-29 14:00:00,29.8,17.1,46,33,48.3,99.44,Mainly Clear
8355,2012-12-14 03:00:00,-0.8,-3.4,83,15,25.0,101.51,Cloudy
905,2012-02-07 17:00:00,-5.9,-17.6,39,19,48.3,101.94,Clear

### Write the code to display a list of all of the columns in the dataset.

In [10]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

### The column names are unwieldy for our purposes. Rename them according to this list {date_time, temp_c, dew_point, relative_humidity, wind_speed, visibility, pressure, and weather}.  Keep a copy of the original columns so we can change them back  if needed at the end of our analysis.

In [36]:
df.columns=[column.replace(" ","_") for column in df]

In [37]:
df=df.rename(columns={'Date/Time':'date_time'})

In [38]:
df=df.rename(columns={'Temp_(C)':'temp_c'})

In [39]:
df=df.rename(columns={'Dew_Point_Temp_(C)':'dew_point'})

In [40]:
df=df.rename(columns={'Rel_Hum_(%)':'relative_humidity'})

In [41]:
df=df.rename(columns={'Wind_Spd_(km/h)':'wind_speed'})

In [42]:
df=df.rename(columns={'Visibility_(km)':'visibility'})

In [43]:
df=df.rename(columns={'Stn_Press_(kPa)':'pressure'})

In [44]:
df=df.rename(columns={'Weather':'weather'})

In [45]:
df

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

### Most of the data in the dataset are numerical, write the code to get some standard statistics for each column (e.g. count, mean, etc.)

In [36]:
df.count()

date_time            8784
temp_c               8784
dew_point            8784
relative_humidity    8784
wind_speed           8784
visibility           8784
pressure             8784
weather              8784
dtype: int64

In [38]:
df.min()

date_time            2012-01-01 00:00:00
temp_c                              -0.1
dew_point                           -0.1
relative_humidity                    100
wind_speed                             0
visibility                           0.2
pressure                           100.0
weather                            Clear
dtype: object

In [39]:
df.median()

temp_c                 9.30
dew_point              3.30
relative_humidity     68.00
wind_speed            13.00
visibility            25.00
pressure             101.07
dtype: float64

In [47]:
df.mean() #some values = 0 which causes inf when dividing?

relative_humidity    inf
wind_speed           inf
dtype: float64

In [48]:
df.max()

date_time               2012-12-31 23:00:00
temp_c                                  9.9
dew_point                               9.9
relative_humidity                        99
wind_speed                                9
visibility                              9.7
pressure                              99.99
weather              Thunderstorms,Rain,Fog
dtype: object

### Write the code to add a column named temp_f to the dataset that contains the temperature from temp_c represented in Fahrenheit.

In [46]:
df['temp_f']=df.Length*df.Height*df.Depth

AttributeError: 'DataFrame' object has no attribute 'Length'

In [28]:
df

,date_time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

### Write the code to rearrange the columns in the dataset so temp_f appears immediately before temp_c.

### Write the code to display the data types of all the columns in the dataset.

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   object
 1   temp_c             8784 non-null   object
 2   dew_point          8784 non-null   object
 3   relative_humidity  8784 non-null   object
 4   wind_speed         8784 non-null   object
 5   visibility         8784 non-null   object
 6   pressure           8784 non-null   object
 7   weather            8784 non-null   object
dtypes: object(8)
memory usage: 549.1+ KB

### You’ll notice that the date_time column is not actually considered a date by Pandas.  Write the code to convert this column to a date/time column. Verify the conversion was successful.

In [48]:
pd.datetime.now()

<ipython-input-48-2c4a3ef4aee4>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  pd.datetime.now()

datetime.datetime(2022, 2, 10, 8, 45, 51, 246637)

In [49]:
df['date_time']=pd.to_datetime(df['date_time'])

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   datetime64[ns]
 1   temp_c             8784 non-null   object
 2   dew_point          8784 non-null   object
 3   relative_humidity  8784 non-null   object
 4   wind_speed         8784 non-null   object
 5   visibility         8784 non-null   object
 6   pressure           8784 non-null   object
 7   weather            8784 non-null   object
dtypes: datetime64[ns](1), object(7)
memory usage: 549.1+ KB

### Write the code to get a count of the different weather designations in the weather column and display top 10 weather categories.

In [51]:
df['weather'].value_counts().nlargest(10)

Mainly Clear     2106
Mostly Cloudy    2069
Cloudy           1728
Clear            1326
Snow              390
Rain              306
Rain Showers      188
Fog               150
Rain,Fog          116
Drizzle,Fog        80
Name: weather, dtype: int64

### Which month of the year, the temp_f more than 90, humidity less than 50 , dew point more than 17, and the weather is clear? Extract that data and save it to a new data frame.

In [68]:
newdf=df.loc[df['temp_c']>90]

TypeError: '>' not supported between instances of 'str' and 'int'

### Extract the month information from the date_time column and add a month column at the data frame. (example: dt.month)

### Save your original dataframe to ‘weather_2012_new.csv’) – ensure your file does not contain the index column of the dataset

In [69]:
df.to_csv('weather_2012_new.csv',index=False)